body {
  margin: 0;
  background-color: #eee;
  --color-default: #ffe300;
  --color-dark: #ffcb00;
  --color-button: #f77f00;
  font-family: "Roboto", sans-serif;
}

svg {
  display: inline;
  width: 25px;
  height: 25px;
}

button {
  background-color: var(--color-button);
  color: white;
  font-size: 0.6rem;
  font-weight: 800;
  padding: 10px 20px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: #db6c0a;
}
h2 {
  display: inline;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
}

.boxList {
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: white;
}

.box .header {
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box p {
  padding: 15px 20px 0 20px;
  font-weight: 300;
  font-size: 0.7rem;
}

.footer {
  padding: 15px 20px 15px 20px;
  color: var(--color-button);
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer h2 {
  font-weight: 700;
}
.footer svg {
  width: 15px;
  height: 15px;
}
